.App {
  width: auto;
  height: auto;
  /* width: 500px; */
  margin: 0 auto;
  display: flex;
  /* min-height: 100vh; */
}

body {
  margin: 0;
  padding: 0;
  /* overflow:auto; */
}

.Sidebar {
  margin: 5px 10px ;
  float:left;
  height: 100%;
  width: 200px;
  background-color: rgb(59, 201, 248);
}
.Sidebar .LogoImageTop{
  margin: 0;
  height: 100%;
  width: 200px;
  border-radius: 20%;
  
}
.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 100px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.SidebarList #active { 
  background-color: #293846;
}

.row #icon {
  flex: 30%;
display: grid;
place-items: center;
}
.row #title {
  flex: 60%;
}

.homeContent{
  text-align: justify;
  margin: 0 25px 0 10px;
}